/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: coral;
    width: 50%;
    height: 100vh;
}

.padding-left{
    padding-left: 30px;
}


/*header*/
header{
    background-color: #ffad29;
}

h1{
    padding: 50px 0 30px 0;
}

/*main*/
.name-burger{
    padding: 20px 0 20px 0;
}

#name_burger{
    padding: 10px;
    font-size: 20px;
}

.ingredient-box{
    display: flex;
}

.col-1{
    
    width: 100%;
}

.col-2{
    width: 100%;
}

ul{
    list-style-type: none;
}

li img{
    height: 50px;
}

.ingredient{
    padding: 5px 10px 5px 0;
}

.checkbox{
    display: inline-block;
    vertical-align: 15px;
    padding-left: 10px;
}